<h1><strong>Welcome to Nazar's Mocktails!</strong></h1>

<br>

<h2>Please note, you can only create mocktails!!! The ingredients are only pseudonyms...</h2>

<br>

<p>Click here to view the menu
<%= link_to "Mocktail menu", cocktails_path %>
</p>

<br>

<p>Click here to create a mocktail
<%= link_to "Create", new_cocktail_path %>
</p>




